/* Hide the countless status updates that add clutter to the comment list */
html.lasagna-active .TaskStoryFeed-miniStory,
html.lasagna-active .TaskStoryFeed-activitySeparator,
html.lasagna-active .TaskStoryFeed-expandMiniStoriesLink {
    display: none;
}

/* Make slide-over fill the screen */
html.lasagna-active .FullWidthPageStructureWithDetailsOverlay--withDetailsOverlayOpen .FullWidthPageStructureWithDetailsOverlay-detailsOverlay {
    width: 100% !important;
    overflow: auto;
}

/* Remove slide-over animation */
html.lasagna-active .FullWidthPageStructureWithDetailsOverlay-detailsOverlay {
    transition: none !important;
}

/* Reorder task fields so it goes assignee, due date, description */
html.lasagna-active .TaskPaneFields {
    display: flex;
    flex-direction: column;
}

html.lasagna-active .TaskPaneFields .TaskPaneFields-assigneeRow {
    order: -3;
}

html.lasagna-active .TaskPaneFields .TaskPaneFields-assigneeRow + div {
    order: -2;
}

html.lasagna-active .TaskPaneFields > div:last-of-type {
    order: -1;
}

/* Typography */
html.lasagna-active .TaskPaneBody .TitleInput textarea {
    font-weight: bold;
}

/* Hide the huge list of fields until it's hovered on */
html.lasagna-active .TaskPaneFields {
    height: 300px;
    overflow: hidden;
    mask-image: linear-gradient(black, transparent);
    position: relative;
    transition: height 0.5s ease;
}

html.lasagna-active .TaskPane:has(.lasagna-toggle-task-fields input:checked) .TaskPaneFields {
    height: calc-size(max-content, size);
    overflow: auto;
    mask-image: none;
}

.lasagna-toggle-task-fields {
    display: none;
}

html.lasagna-active .lasagna-toggle-task-fields input {
    display: none;
}

html.lasagna-active .lasagna-toggle-task-fields {
    padding: 5px 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    user-select: none;
    cursor: pointer;
    font-size: 12px;
}

html.lasagna-active .lasagna-toggle-task-fields:has(input:checked) {
    background: var(--color-success-icon);
    color: #fff;
    border-color: var(--color-success-icon);
}

/* Make the focused, full-screen view nicer to look at */
html.lasagna-active .TaskPane-feed {
    margin-top: 0;
}

html.lasagna-active .FocusModePage {
    margin: 0;
    padding: 0;
    display: block;
    overflow: auto;
}

html.lasagna-active .TaskPaneBody-attachmentDropTarget,
html.lasagna-active .TaskPaneBody--scrollable {
    flex: none;
}

html.lasagna-active .TaskPane-footerContainer,
html.lasagna-active .TaskPane-footerContainer > div,
html.lasagna-active .TaskPane-footerContainer .TaskPaneFooter {
    height: 100%;
}

/* Hide this comment vs activity toolbar */
html.lasagna-active .TaskStoryFeed-optionsList {
    display: none;
}

/* Honestly, even the top bar is kinda useless */
html.lasagna-active .GlobalTopbarStructure--onBrowser {
    display: none;
}

/* I'm not inviting any teammates */
html.lasagna-active .SidebarFooter {
    display: none;
}

/* No thanks, Insights */
html.lasagna-active .SidebarInsightsSection {
    display: none;
}

/* Make the sidebar less noisy until you need it */
html.lasagna-active #asana_sidebar .Sidebar {
    opacity: .2;
    transition: opacity 0.5s ease;
}

html.lasagna-active #asana_sidebar:hover .Sidebar {
    opacity: 1;
}

/* Declutter background when panel is open */
html.lasagna-active .FullWidthPageStructureWithDetailsOverlay-mainContent {
    transition: opacity 0.5s ease;
}

html.lasagna-active .FullWidthPageStructureWithDetailsOverlay--withDetailsOverlayOpen .FullWidthPageStructureWithDetailsOverlay-mainContent {
    opacity: .3;
}

/* Hide notices about tasks */
html.lasagna-active .TaskMessageBanner:has(.TaskCommentOnlyMultihomeBanner-privacyMessage) {
    display: none;
}
